body {
  font-family: Helvetica;
  font-size: 20px;
  background-color: #F5F5F5;
  color: #4D117BFF;
}

#TOC {
  font-family: Helvetica;
  font-size: 16px;
  color: #681C81FF;
  border-color: #A02F7FFF;
}

h1 {
  font-family: Helvetica;
  font-size: 24px;
  color: #681C81FF;
  text-align: left;
}

h2 {
  font-family: Helvetica;
  font-size: 22px;
  color: #681C81FF;
  text-align: left;
}

h4.author {
  font-family: Helvetica;
  font-size: 22px;
  background-color: #F5F5F5;
  color: #681C81FF;
  text-align: center;
}

h4.date {
  font-family: Helvetica;
  font-size: 22px;
  background-color: #F5F5F5;
  color: #681C81FF;
  text-align: center;
}
